<form action="/login" method="POST">
    <input type="email" name="email" placeholder="Nuevo Email">
    <input type="password" name="password" id="" placeholder="pass">
    <input type="hidden" name"csrf" value="{{token}}">
    <button type="submit" >Enviar</button>   
</form>